<div class="container">
    <h4>Companies:</h4>
    <div class="row">
        @foreach (var company in Model.Companies)
        {
            <div class="row row-margin-bottom">
                <div class="col-md-5 no-padding lib-item" data-category="view">
                    <div class="lib-panel">
                        <div class="row box-shadow">
                            <div class="col-md-6">
                                <img class="lib-img-show" src="@company.UserImageUrl">
                            </div>
                            <div class="col-md-6">
                                <div class="lib-row lib-header">
                                    @company.CompanyName
                                    <div class="lib-header-seperator"></div>
                                </div>
                                <div class="lib-row lib-desc">
                                    @company.Description
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li class="waves-effect"><a href="~/companies?id=@(Model.CurrentPage - 1)"><i class="material-icons">chevron_left</i></a></li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            string className = string.Empty;
            if (Model.CurrentPage == i)
            {
                className = "active";
            }

            <li class="waves-effect @className"><a href="~/companies?id=@i">@i</a></li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="waves-effect"><a href="~/companies?id=@(Model.CurrentPage+1)"><i class="material-icons">chevron_right</i></a></li>
        }
    </ul>
</div>
