@model LionJobs.ViewModels.ProfileEmployeeViewModel
@section styles {
    @Styles.Render("~/Content/profile.css");
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger collapse" id="warning">@TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success collapse" id="success">@TempData["Success"]</div>
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.FullName</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="@Model.ImageUrl" class="img-circle img-responsive"> </div>
            <div class="col-md-9 col-lg-9">
                <h6>Job History</h6>
                <div id="job-history">
                </div>
                <div class="row">
                    @using (Html.BeginForm("ImageUpload", "Manage", FormMethod.Post, new { @class = "col-md-4", enctype = "multipart/form-data" }))
                    {

                        <input type="file" class="control-label" name="postedFile" />
                        <input type="submit" value="Upload new image" class="btn btn-success" />

                    }

                    @using (Html.BeginForm("CvUpload", "Manage", FormMethod.Post, new { @class = "col-md-4", enctype = "multipart/form-data" }))
                    {
                        <input type="file" name="postedFile" />
                        <input type="submit" value="Upload Cv" class="btn btn-success" />
                    }
                    <div class="col-md-4">
                        @Html.ActionLink("Download CV", "DownloadCv", null, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $('#job-history').load("/Manage/LoadEmployeeHistory");
    </script>
@Scripts.Render("~/Scripts/tempData-notifications.js");
}
